Repository jmuelbert/jmbde-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: hatch-style, hatch-typing, hatch-lint, hatch-spelling

hatch-style:
  name: Hatch - Style Checks
  entry: hatch run lint:style
  language: system

hatch-typing:
  name: Hatch - Type Checking
  entry: hatch run lint:typing
  language: system

hatch-lint:
  name: Hatch - Linting
  entry: hatch run lint:lint
  language: system

hatch-spelling:
  name: Hatch - Spelling Check
  entry: hatch run lint:spelling
  language: system

fix: ci workflow (#1224)
  .github/workflows/ci.yml
Due: none

fix: dependeny
  .github/workflows/ci.yml
Due: none

fix: set the environment for main
  .github/workflows/ci.yml
Due: none

fix: set the environment for main (#1297)
  .github/workflows/ci.yml
Due: none

fix: issue with linkcheck version
  pyproject.toml
Due: none

fix: permissions issue
  .github/workflows/docs-deploy.yml
Due: none

fix: docs-deploy workflow (#1231)
  .github/workflows/docs-deploy.yml
  pyproject.toml
Due: none

fix: issue with environment
  .github/workflows/ci.yml
Due: none

fix: issue #1226
  .github/workflows/ui-tests.yml
Due: none

chore: add some .trunk dirs for ignoring
  .gitignore
Due: none

chore: add description about github project orgs
  docs/guides/branches_and_environments.md
Due: hatch-spelling

fix: issues in the UI-Tests workflow (#1226)
  .github/workflows/ci.yml
  .github/workflows/ui-tests.yml
  .gitignore
  docs/guides/branches_and_environments.md
Due: hatch-spelling

fix: issue #1220
  .github/workflows/issue-managment.yml
Due: none

chore: I won't not change that file
  .github/workflows/codeql.yml
Due: none

chore: regenerate the codeql.yml file
  .github/workflows/codeql.yml
Due: none

fix: issue management workflow (#1221)
  .github/workflows/codeql.yml
  .github/workflows/issue-managment.yml
Due: none

fix: issues
  .github/workflows/scorecard.yml
Due: none

fix: issues (#1314)
  .github/workflows/scorecard.yml
Due: none

Revert " fix: issue management workflow (#1221)"
  .github/workflows/codeql.yml
  .github/workflows/issue-managment.yml
Due: none

chore: Revert " fix: issue management workflow (#1221)" (#1317)
  .github/workflows/codeql.yml
  .github/workflows/issue-managment.yml
Due: none

fix: issues in tests and in pyproject.toml
  .github/workflows/pr-checks.yml
  pyproject.toml
  src/jmbde/__init__.py
  src/jmbde/models/__init__.py
  tests/integration/test_database.py
Due: hatch-style, hatch-typing, hatch-lint

feat: regenerate tests, cleanup
  pyproject.toml
  src/jmbde/__main.py
  src/jmbde/__main__.py
  src/jmbde/api/__init__.py
  src/jmbde/api/server.py
  src/jmbde/core/database.py
  src/jmbde/core/database_connection.py
  src/jmbde/core/settings.py
  src/jmbde/gui/main_app.py
  src/jmbde/main.py
  src/jmbde/models/device.py
  src/jmbde/models/employee.py
  src/jmbde/qml/qmldir
  src/jmbde/utils/exceptions.py
  tests/conftest.py
  tests/e2e/test_full_workflow.py
  tests/integration/__init__.py
  tests/integration/pyside6/__init__.py
  tests/integration/pyside6/test_integration.py
  tests/integration/test_api.py
  tests/integration/test_database.py
  tests/integration/test_employee_model_qml.py
  tests/pyside6/__init__.py
  tests/pyside6/capture_screenshots.py
  tests/pyside6/compare_screenshots.py
  tests/pyside6/test_button_click.py
  tests/pyside6/test_dialog.py
  tests/pyside6/test_gui_interaction.py
  tests/pyside6/test_signal_emission.py
  tests/pyside6/test_visual_regression.py
  tests/test____main___.py
  tests/test_main.py
  tests/test_main_app.py
  tests/unit/__init__.py
  tests/unit/test_database.py
  tests/unit/test_database_failure.py
  tests/unit/test_device_model.py
  tests/unit/test_employee_model.py
  tests/unit/test_models.py
  tests/unit/test_services.py
Due: hatch-style, hatch-typing, hatch-lint

fix: cleanup and improve ci.yaml
  .github/ISSUE_TEMPLATE/03-documentation.yml
  .github/workflows/ci.yml
  .gitignore
  pyproject.toml
  src/jmbde/__main__.py
  src/jmbde/core/config.py
  src/jmbde/core/database.py
  src/jmbde/core/database_connection.py
  src/jmbde/core/db_handler.py
  src/jmbde/gui/employee_model.py
  src/jmbde/gui/main_app.py
  src/jmbde/main.py
  src/jmbde/models/device.py
  src/jmbde/models/employee.py
  tests/conftest.py
  tests/e2e/test_full_workflow.py
  tests/integration/pyside6/test_integration.py
  tests/integration/test_database.py
  tests/integration/test_employee_model_qml.py
  tests/test____main___.py
  tests/test_main.py
  tests/test_main_app.py
  tests/unit/test_database_failure.py
  tests/unit/test_device_model.py
  tests/unit/test_employee_model.py
Due: hatch-style, hatch-typing, hatch-lint

Update pip from 25.0 to 25.0.1
  .github/workflows/requirements.txt
Due: hatch-spelling

Path conditions:
  hatch-style: any of: \.py$, but not: ^(3rd-party|COPYING|LICENSE|\.gitmodules|.*\.(ui|qrc|ts)$|LICENSES/|dist/|pnpm-lock.yaml)
  hatch-typing: any of: \.py$, but not: ^(3rd-party|COPYING|LICENSE|\.gitmodules|.*\.(ui|qrc|ts)$|LICENSES/|dist/|pnpm-lock.yaml)
  hatch-lint: any of: \.py$, but not: ^(3rd-party|COPYING|LICENSE|\.gitmodules|.*\.(ui|qrc|ts)$|LICENSES/|dist/|pnpm-lock.yaml)
  hatch-spelling: any of: \.(md|txt|rst)$, but not: ^(3rd-party|COPYING|LICENSE|\.gitmodules|.*\.(ui|qrc|ts)$|LICENSES/|dist/|pnpm-lock.yaml)
